* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: url("../img/montain2.jpg");
  background-position: center;
  background-size: cover;

  .mainIndex {
    border-right: 1px solid rgb(46, 46, 46);
    border-left: 1px solid rgb(46, 46, 46);
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.842);
    width: 500px;
    backdrop-filter: blur(4px);

    .formEditUser {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 128px 1fr;
      grid-auto-rows: auto;
      gap: 10px;
      padding: 10px;

      .EdtiProfileInputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        input{
          background: transparent;
          border: none;
          border-bottom: 1px solid #cacaca;
          font-size: 20px;
          outline: none;
          color: white;
          width: 80%;
          &::placeholder{
            color: #cacaca;
          }
        }
      }

      button{
        font-weight: 500;
        color: white;
        background: #04b8ff;
        font-size: 20px;
        margin: 10px;
        padding: 5px 10px;
        justify-self: right;
        border: none;
        outline: none;
        border-radius: 20px;

        &:hover{
          transition: .2s;
          scale: 1.05;
          box-shadow: 0 0 5px #04b8ff;

        }
      }

      .imgEditProfile {
        grid-row: span 2;
        position: relative;
        background: #cacaca;
        border-radius: 50%;
        $size: 128px;
        width: $size;
        height: $size;
        img {
          width: $size;
          height: $size;
          border-radius: 50%;
        }

        input[type="file"] {
          &::-webkit-file-upload-button {
            display: none;
          }
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          opacity: 0;
        }

        &::after {
          position: absolute;
          content: "";
          border-radius: 50% 50%;
          font-weight: 500;
          color: white;
          font-size: 20px;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #00000000;
        }

        &:hover {
          &::after {
            content: "EDITAR";
            background: #0000007a;
            transition: 0.2s;
          }
        }
      }
    }

    h1 {
      padding: 10px;
      color: #04b8ff;
      text-shadow: 0 0 5px #000000, 0 0 10px #04b8ff;
      border-bottom: 1px solid rgb(46, 46, 46);
    }

    .CreateTweetForm {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      textarea {
        &::placeholder {
          color: #cacaca;
        }
        padding: 15px;
        color: white;
        width: 100%;
        height: 200px;
        font-size: 20px;
        background: transparent;
        border: none;
        outline: none;
        resize: none;
        border-bottom: 1px solid rgb(46, 46, 46);
      }
      button {
        align-self: end;
        margin: 10px;
        font-size: 20px;
        font-weight: 500;
        padding: 5px 10px;
        border: none;
        outline: none;
        background: #00a3e4;
        color: white;
        border-radius: 20px;
        &:hover {
          position: relative;
          transition: 0.2s;
          box-shadow: 0 0 5px #00a3e4;
          scale: 1.05;
        }
      }
    }

    .tweet {
      position: relative;
      overflow: hidden;
      color: rgb(255, 255, 255);
      display: grid;
      grid-template-columns: 64px 1fr;
      grid-template-rows: 64px 1fr;
      gap: 20px;
      padding: 15px;
      border-top: 1px solid rgb(46, 46, 46);
      .TweetUserPicture {
        height: 64px;
        width: 64px;
        background: #cacaca;
        border-radius: 50%;
        box-shadow: 0 0 5px #FFF;
      }
      .TweetUsername {
        font-weight: 500;
        font-size: 25px;
        align-self: center;
      }

      .TweetContent {
        grid-column: span 2;
        font-size: 18px;
      }

      .TweetStats {
        grid-column: span 2;
      }

      .deleteButton {
        opacity: 1;
        position: absolute;
        right: 10px;
        top: 10px;
        background: transparent;
        border: none;
        outline: none;

        height: 16px;
        width: 16px;
        transform: translateX(30px);
        &:hover {
          cursor: pointer;

          filter: drop-shadow(0 0 5px red);
        }
      }
      &:hover {
        .deleteButton {
          transition: 0.2s;
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
  aside {
    background: rgba(0, 0, 0, 0.842);
    backdrop-filter: blur(4px);
  }

  .asideRight{
    .userInformation{
      display: flex;
      align-items: center;
      margin: 20px;
      gap: 20px;
      background: rgba(255, 255, 255, 0.205);
      box-shadow: 0 0 5px #fff;
      padding: 10px 20px 10px 10px;
      border-radius: 50px;
      .userUsername{
        color: white;
        font-weight: 500;
        font-size: 20px;
      }
      .userPicture{
        width: 64px;
        height: 64px;
        background: #cacaca;
        border-radius: 50%;
      }
    }
  }

  .asideLeft {

    .btnAsideOption{
      text-decoration: none;
      font-weight: 500;
      color: white;
      border: 2px solid white;
      border-radius: 20px;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;

      &:hover{
        background: white;
        transition: .5s;
        letter-spacing: 1px;
        box-shadow: 0 0 5px #fff;
        span{
          transition: .5s;
          color: black;
          text-shadow: 0 0 5px #fff, 0 0 10px #000;
        }
      }

    }

    .btnSignOut {
      position: relative;
      text-decoration: none;
      margin: 5px;
      height: 2rem;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid red;
      font-weight: 500;
      border-radius: 20px;
      transition: 0.5s;
      background: #0000;

      span {
        position: relative;
        transition: 0.5s;
        color: red;
      }

      span::before {
        content: "🡨";
        color: #f000;
        left: 0px;
        position: absolute;
        transition: 0.5s;
      }

      &:hover {
        background: red;
        color: white;
        box-shadow: 0 0 5px red;
        span {
          padding-left: 20px;
          color: white;
        }

        span::before {
          color: #ffff;
        }
      }
    }
  }
}
