* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bodylogin {
  height: 100vh;
  background: url("../img/montain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodylogin .container {
  position: relative;
  background: #0000006b;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 40px;
}

.bodylogin .container .form {
  position: absolute;
  -webkit-transition: translate 1s;
  transition: translate 1s;
  background: white;
  top: -20px;
  bottom: -20px;
  left: 40px;
  right: 50%;
  padding: 20px;
}

.bodylogin .container .form.formSingup {
  translate: 100%;
}

.bodylogin .container .form h1 {
  color: #d14058;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 2rem;
}

.bodylogin .container .form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 4px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.562);
  margin-bottom: 20px;
}

.bodylogin .container .form .buttons {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}

.bodylogin .container .form .buttons #changeForm {
  border: none;
  font-size: 17px;
  outline: none;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
  display: none;
}

.bodylogin .container .form .buttons #buttonForm {
  padding: 15px 40px;
  color: white;
  background: #d14058;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.bodylogin .container .option {
  width: 350px;
}

.bodylogin .container .option h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.bodylogin .container .option p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.bodylogin .container .option button {
  background: transparent;
  color: white;
  font-size: 1.7rem;
  border: 2px solid white;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 15px;
}

.bodylogin .container .option button:hover {
  -webkit-transition: scale .2s;
  transition: scale .2s;
  scale: 1.05;
  cursor: pointer;
}

@media (max-width: 820px) {
  .bodylogin .container {
    height: 100vh;
    width: 100vw;
    padding: 0;
  }
  .bodylogin .container .option h3, .bodylogin .container .option p, .bodylogin .container .option button {
    width: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
  }
  .bodylogin .container .form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .bodylogin .container .form .buttons #changeForm {
    display: inline-block;
  }
}
/*# sourceMappingURL=login.css.map */